.footer {
  background: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 0.8rem;
  padding: 10px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px 0;
  align-items: center;
}
.footer-name-title {
  text-align: center;
  font-size: 1.2rem;
}
.footer-name-wrapper {
  margin: 0 auto;
  line-height: 1.5;
  grid-column: 1 / -1;
}

.footer-img-group {
  margin: 0 auto;
  grid-column: 1 / -1;
}

.footer-img-wrapper {
  display: inline-block;
  padding: 10px 0;
}
.footer-img-wrapper + .footer-img-wrapper {
  margin-left: 15px;
}

.footer-logo-img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 30px;
  }
  .footer-name-title {
    margin-bottom: 10px;
    text-align: left;
  }
  .footer-name-wrapper {
    grid-column: 1 / 7;
    margin: 0;
  }
  .footer-img-group {
    grid-column: 8 / -1;
    margin-right: 0;
  }
}
